.footer {
  background-color: rgb(50, 167, 60);

  .contenedor-footer {
    padding-top: 5rem;
    padding-left: 3rem;
  }

  .navegacion {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .copyright {
    color: $blanco;
    text-align: center;
    padding-bottom: 2rem;
  }
}
